.chatbox{
    width: 600px;
    height: 400px;
    background-color: #ececec;
    margin: 0 auto;
    padding: 4px 8px;
    border: 1px solid black;
    overflow-y: scroll;
}
h2:first-of-type{
    
    text-align: center;
}
input[type='text']{
    display: block;
    margin: 10px auto;
    width: 608px;
    height: 30px;
}
input[type='submit']{
    display: block;
    margin: 0 auto;
    width: 616px;
    height: 30px;
    background-color: forestgreen;
    border: 1px slod forestgreen;
    color: white;
    font-size: 18px;
}
input[type='submit']:hover{
    color: forestgreen;
    background-color: transparent;
}

